nav {
   text-align: center;
   background: #666;
}
body {
   font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
   color: #ebebeb;
   background: #666;
   width: 960px;
   font-size: 18px;
}
h2 {
   color: #ebebeb;
}

header {
   background: #ccc;
   padding: 20px;
   border: 1px solid white;
   margin-bottom: 20px;
 }
}
.box{
   position: relative;
   display: inline-block;
}
img {
   float: left;
}

p {
   float: right;
}
footer {
   background: #ccc;
   clear: both;
   padding: 10px;
   text-align: center;
 }