     nav { 
        text-align: center; 
        background: #ebebeb;
          }
     body { 
        font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
        color: #777;
        background: white;
        width: 960px;
        font-size: 18px; 
          }
      h1 {
         color: teal;
      }
     header {
        text-align: center;
        background: teal;
        color: white;
        }
    
        footer { 
        text-align: center; 
        background: #ebebeb; }